$primary-color: #16a085;
$secondary-color: rgba(255, 255, 255, 0.1);//#2c3e50;
$background-light: #2c3e50;//#ecf0f1;
$text-color: #ecf0f1;//#34495e;
$card-shadow: rgba(0, 0, 0, 0.2);

.pricing {
  text-align: center;
  padding: 40px;
  //background: $background-light;
  direction: rtl;

  h1, h2 {
    color: $text-color;//$secondary-color;
    margin-bottom: 20px;
    text-align: right;
  }

  h1 {
    font-size: 2.0rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  .pricing-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .card {
      background: $secondary-color;
      border-radius: 10px;
      box-shadow: 0 4px 8px $card-shadow;
      padding: 20px;
      max-width: 300px;
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 6px 12px $card-shadow;
      }
      h1,h2{
        text-align: center;
      }

      h2 {
        margin-bottom: 10px;
      }

      .price,
      .old-price {
        font-size: 2rem;
        color: $primary-color;
        margin: 15px 0;

        span {
          font-size: 1rem;
          color: $text-color;
        }
      }
      .old-price {
        text-decoration: line-through;
        font-size: 1.2rem;
        color: red;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 20px 0;

        li {
          margin: 10px 0;
          color: $text-color;
        }
      }

      button {
        background: $primary-color;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 1rem;
        transition: background 0.3s ease;

        &:hover {
          background: darken($primary-color, 10%);
        }
      }
    }
  }

  .location-notice {
    text-align: right;
    margin-top: 40px;

    h2 {
      font-size: 1.8rem;
      //color: $secondary-color;
      margin-bottom: 20px;
      text-align: right;
    }

    .location-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;

      .location-item {
        display: flex;
        align-items: center;
        gap: 10px;
        background: $background-light;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 4px 8px $card-shadow;
        max-width: 600px;
        width: 100%;
        text-align: right;
        transition: background 0.3s ease;

        &:hover {
          background: lighten($primary-color, 40%);
        }

        strong {
          font-size: 1.2rem;
          color: $primary-color;
          flex-shrink: 0;
          white-space: nowrap;
        }

        p {
          font-size: 1rem;
          color: $text-color;
          margin: 0;
        }
      }
    }
  }
}
