<div class="content">
  <div class="group first">
    <h2>חשמל ומגנטיות</h2>

    <h3>אלקטרו-דינמיקה</h3>
    <ul>
      <li>חוקי קירכהוף: חוקים לחישוב מתח וזרם במעגלים מורכבים.</li>
      <li>מעגלים עם נגדים בטור ובמקביל: חישוב התנגדות שקולה וזרמי חשמל.</li>
      <li>מעגלים חשמליים: ניתוח מעגלים עם נגדים, סוללות ומקורות מתח.</li>
      <li>חוקי אוהם: התנגדות, מתח, זרם, והקשר ביניהם.</li>
    </ul>
    <h3>אלקטרו-סטטיקה</h3>
    <ul>
      <li>חוק קולון ותיאור כוחות בין מטענים חשמליים.</li>
      <li>שדה חשמלי: חישוב שדות הנוצרים ממטענים נקודתיים ומפיזור מטענים.</li>
      <li>פוטנציאל חשמלי: עבודה הנדרשת להעברת מטען בשדה חשמלי.</li>
      <li>קבלים וקיבול: מושג הקיבול, סוגי קבלים (שטוחים, כדוריים, צילינדריים), חיבור קבלים במקביל ובטור.</li>
    </ul>
    <h3>מגנטיות</h3>
    <ul>
      <li>כוחות מגנטיים: כוחות הפועלים על מטענים בתנועה בשדה מגנטי.</li>
      <li>שדה מגנטי: חישוב שדות מגנטיים הנוצרים ממטענים בתנועה, חוטים נושאי זרם ואלקטרומגנטים.</li>
      <li>חוקי אמפר: הקשר בין זרם לשדה מגנטי.</li>
      <li>חוק לורנץ: כוחות על מטען בתנועה בשדה חשמלי ומגנטי.</li>
    </ul>
  </div>
  <div class="group">
    <h2>מכניקה</h2>
    <h3>גרביטציה</h3>
    <ul>
      <li>הכוחות בין גופים בעלי מסה.</li>
      <li>החוק של ניוטון לגרביטציה אוניברסלית.</li>
      <li>הכוחות הפועלים על גופים בשדה כבידה.</li>
    </ul>
    <h3>קינמטיקה</h3>
    <ul>
      <li>תנועה בקו ישר: מהירות, תאוצה, מרחק.</li>
      <li>תנועה בעקומה: תאוצה צנטריפטלית, חישוב רדיוס עקומה.</li>
      <li>תנועה בממדים רבים: נוסחאות ותיאורים גיאומטריים.</li>
    </ul>
    <h3>מתקף ותנע</h3>
    <ul>
      <li>שימור תנע: חוקים ויישומים.</li>
      <li>תנע של מערכת: חישוב תנע במצבים שונים.</li>
      <li>הכוחות המתקפים על גוף בתנועה.</li>
    </ul>
    <h3>עבודה ואנרגיה</h3>
    <ul>
      <li>הגדרת עבודה: עבודה של כוח, עבודה של כוחות חיצוניים.</li>
      <li>אנרגיה קינטית: חישוב אנרגיה במצבים שונים.</li>
      <li>שימור אנרגיה: דוגמאות ויישומים.</li>
    </ul>
    <h3>תנועה הרמונית</h3>
    <ul>
      <li>תנודות הרמוניות פשוטות: פרמטרים, תדירות, אורך גל.</li>
      <li>הזזה והרעדה של גופים: חישוב מדדי תנועה והשלכות.</li>
    </ul>
    <h3>תנועה מעגלית</h3>
    <ul>
      <li>תנועה מעגלית מישורית: תאוצה צנטריפטלית, כוחות ומרחק.</li>
      <li>חוקי ניוטון בתנועה מעגלית: קשרים בין כוח למומנטום.</li>
    </ul>
    <h3>חוקי ניוטון</h3>
    <ul>
      <li>הכוחות הפועלים על גוף בתנאים שונים.</li>
      <li>חוק ההתמדה: תנועה קווית ומנוחה.</li>
      <li>הכוחות הפועלים על גוף בתנאים שונים של כוח ותנע.</li>
    </ul>
  </div>
  <div class="group">

    <h2>קרינה וחומר</h2>

    <h3>אטום והגרעין</h3>
    <ul>
      <li>המודל האטומי: מבנה האטום והכוחות הפועלים בו.</li>
      <li>תהליך התפרקות גרעינית: תהליכים שונים של התפרקות הגרעין.</li>
      <li>שדרים גרעיניים: הסברים על שדות מגנטיים ושדות חשמליים.</li>
    </ul>
    <h3>אופטיקה גיאומטרית</h3>
    <ul>
      <li>שבירת אור: חוקים ותיאור תופעת השבירה.</li>
      <li>החזרת אור: מיקום המראות ויישומים שלהן.</li>
      <li>תמונה ופריזמה: חישובים על עצמים וציוריהם.</li>
    </ul>
    <h3>אופטיקה פיזיקלית</h3>
    <ul>
      <li>תיאור תופעות מתקדמות: פרץ אור ופריזמות.</li>
      <li>הגדרת אור: הגלים, האור והחוקי הפיזיקה.</li>
    </ul>
    <h3>פיזיקה מודרנית</h3>
    <ul>
      <li>תיאור תופעות קוונטיות: עקרונות בסיסיים ושיטות עבודה.</li>
      <li>תיאור תופעות באורך גל נמוך: חישוב תוצאות שדה קוונטי.</li>
    </ul>
  </div>
  <div class="group">

    <h2>שאלון חקר</h2>
    <ul>
      <li>היישום של נושא אחד מהנושאים הנלמדים.</li>
      <li>הבנת ניסוי, ניתוחו והסקת מסקנות.</li>
    </ul>
  </div>
</div>
