$primary-color: #2c3e50;
$secondary-color: #16a085;
$light-color: #ecf0f1;
$hover-color: rgba(22, 160, 133, 0.8);
.my-header {
  background: $primary-color;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 15px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  .navbar {
    display: flex;
    justify-content: flex-start; // ממקם את הכפתורים בצד ימין

    align-items: center;
    width: 100%;

    .nav-button {
      background: $secondary-color;
      color: $light-color;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      margin-left: 10px;
      font-size: 1em;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background: $hover-color;
        transform: scale(1.05);
      }

      &:active {
        background: darken($secondary-color, 10%);
      }
      &.active {
        background-color: #007bff;  /* דוגמה לשינוי צבע */
        color: white;
      }
    }

    .language {
      justify-content: flex-end;
      margin-right: 100px;
      border-radius: 200000px;

      //border-radius: 500px;

    }
  }
}

$menu-width: 150px;

.side-menu {
  position: fixed;
  //top: 0;
  left: -$menu-width; /* התפריט מוסתר מחוץ למסך */
  width: $menu-width;
  //height: 100%;
  text-align: center;
  background-color: #2c3e50;
  color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  transition: left 0.3s ease; /* אנימציית הגלישה */

  .btn{
    //background: white;
    width: 90%;
    margin-bottom: 5px;
    text-align: center;

    &:hover{
      background: white;
      color: $primary-color;
    }
  }
}

.side-menu.open {
  left: 0; /* התפריט נחשף */
}

.side-menu .close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
}
