$primary-color: #2c3e50;
$secondary-color: #16a085;
$light-color: #ecf0f1;
$hover-color: rgba(22, 160, 133, 0.8);
.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
  //background-color: $light-color;
  text-align: center;
  color: $light-color;

  .error-title {
    font-size: 8rem;
    font-weight: bold;
    color: $secondary-color;
  }

  .error-message {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  .go-home {
    padding: 1rem 2rem;
    background-color: $secondary-color;
    color: $light-color;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $hover-color;
    }
  }
}
