<div class="content">
  <div class="group first">
    <h2>מבואות מתמטיים</h2>
    <h3>אינפי 1 (חדו"א 1)</h3>
    <ul>
      <li></li>
    </ul>
    <h3>אינפי 2 (חדו"א 2)</h3>
    <ul>
      <li></li>
    </ul>
    <h3>אלגברה ליניארית (אלגברה 1)</h3>
    <ul>
      <li></li>
    </ul>
    <h3>אלגברה מודרנית (אלגברה 2)</h3>
    <ul>
      <li></li>
    </ul>
    <h3>מתמטיקה דיסקרטית (בדידה)</h3>
    <ul>
      <li></li>
    </ul>
    <h3>מתמטיקה שימושית</h3>
    <ul>
      <li></li>
    </ul>
    <h3>הסתברות וסטטיסטיקה</h3>
    <ul>
      <li></li>
    </ul>
  </div>
  <div class="group">
    <h2>מבואות תכנותיים</h2>
    <div class="flex justify-between w-7/10">
      <div class="order-3"><h3>Computer Science</h3></div>
      <div class="order-2"><h3>Python</h3></div>
      <div class="order-1"><h3>מבוא למדעי המחשב</h3></div>
    </div>
    <ul>
      <li></li>
    </ul>
    <div class="flex justify-between w-7/10">
      <div class="order-3"><h3>Object-Oriented Programing (OOP)</h3></div>
      <div class="order-2"><h3 dir="ltr">Java | C# | C++</h3></div>
      <div class="order-1"><h3>מבוא לתכנות מונחה עצמים</h3></div>
    </div>
    <ul>
      <li></li>
    </ul>
    <div class="flex justify-between w-7/10">
      <div class="order-3"><h3>Realtime</h3></div>
      <div class="order-2"><h3>C && Assembly</h3></div>
      <div class="order-1"><h3>מבוא לתכנות זמן אמת</h3></div>
    </div>
    <ul>
      <li></li>
    </ul>
    <div class="flex justify-between w-7/10">
      <div class="order-3"><h3>Android</h3></div>
      <div class="order-2"><h3>(Java | Kotlin) && XML</h3></div>
      <div class="order-1"><h3>מבוא לתכנות אנדרואיד</h3></div>
    </div>
    <ul>
      <li></li>
    </ul>
    <div class="flex justify-between w-7/10">
      <div class="order-3"><h3>Web</h3></div>
      <div class="order-2"><h3>HTML && CSS && JavaScript</h3></div>
      <div class="order-1"><h3>מבוא לתכנות אינטרנט</h3></div>
    </div>
    <ul>
      <li></li>
    </ul>
    <div class="flex justify-between w-7/10">
      <div class="order-3"><h3>Linux</h3></div>
      <div class="order-2"><h3>Bash</h3></div>
      <div class="order-1"><h3>מבוא לתכנות לינוקס</h3></div>
    </div>
    <ul>
      <li></li>
    </ul>
  </div>
</div>
