<div class="content">
  <div class="group first">
    <h2>אלגברה</h2>
    <h3>הצגת מספרים מדעיים</h3>
    <ul>
      <li>הצגה של מספרים בצורה מדעית: חישוב של חזקות 10 ומציאת מעריכים</li>
    </ul>
    <h3>חוקי חזקות ושורשים</h3>
    <ul>
      <li>חוקים של חזקות: חזקות של מספרים, חוקים של חזקות עם מספרים שליליים ואפס</li>
      <li>חישוב שורשים של מספרים ושימושים בחוקי השורשים</li>
    </ul>
    <h3>פירוק לגורמים</h3>
    <ul>
      <li>פירוק בגורמים ראשוניים: איך למצוא את הגורמים הראשוניים של מספרים</li>
      <li>חישוב מספר הגורמים של מספרים (חוקי חישוב)</li>
      <li>חישוב חזקות של מספרים</li>
    </ul>
    <h3>שדות מספרים ופעולות אריתמטיות</h3>
    <ul>
      <li>הגדרה של שדה מספרים (מספרים טבעיים, שלמים, רציונליים, ממשיים)</li>
      <li>פעולות אריתמטיות בסיסיות (חיבור, חיסור, כפל, חילוק)</li>
      <li>סדר פעולות חשבון: סדר פעולות בחשבון, חוקים של חיבור וכפל</li>
    </ul>
    <h3>משוואות לינאריות</h3>
    <ul>
      <li>פתרון משוואות לינאריות</li>
      <li>שימוש במשוואות לינאריות לפתרון בעיות</li>
      <li>פתרון מערכת משוואות לינאריות בעזרת חישובים אלגבריים</li>
    </ul>
    <h3>משוואות ריבועיות</h3>
    <ul>
      <li>פתרון משוואות ריבועיות בעזרת נוסחאות חישוב שונות (כמו נוסחת השורשים)</li>
      <li>פתרון בעיות עם משוואות ריבועיות (כמו בעיות של תנועה, קפיצה ועוד)</li>
    </ul>
    <h3>סדרות חשבוניות וגיאומטריות</h3>
    <ul>
      <li>סדרה אריתמטית: הבנת הסדרה, חישוב הסכום שלה, כללים לחישוב איברי הסדרה</li>
      <li>סדרה גיאומטרית: הבנת הסדרה, חישוב הסכום שלה, כללים לחישוב איברי הסדרה</li>
    </ul>
  </div>

  <div class="group">
    <h2>גיאומטריה אנליטית</h2>
    <h3>גיאומטריה של משולשים</h3>
    <ul>
      <li>המרחקים בין הנקודות במצולעים</li>
      <li>משפטי תכונות בגיאומטריה של משולשים (כמו משפט פיתגורס)</li>
    </ul>
    <h3>גיאומטריה אנליטית של קטעים</h3>
    <ul>
      <li>חישוב אמצע קטע</li>
      <li>חלוקת קטע ביחס נתון</li>
      <li>חישוב המרחק בין שתי נקודות במישור</li>
    </ul>
    <h3>גיאומטריה אנליטית של הישר</h3>
    <ul>
      <li>הגדרה כמקום גיאומטרי</li>
      <li>שיפוע הישר</li>
      <li>משוואת הישר במישור</li>
    </ul>
    <h3>גיאומטריה אנליטית של מעגל</h3>
    <ul>
      <li>הגדרה של מעגל, רדיוס ומרכז המעגל</li>
      <li>יחס בין נקודות שונות במעגל</li>
    </ul>
    <h3>גיאומטריה אנליטית של פרבולה</h3>
    <ul>
      <li>הגדרה של פרבולה</li>
      <li>קשרים בין פרבולות ומעגלים</li>
    </ul>
    <h3>תכונות גיאומטריות</h3>
    <ul>
      <li>טרפזים</li>
      <li>מרובעים שונים</li>
      <li>מעגלים וצורות גיאומטריות אחרות</li>
    </ul>
  </div>

  <div class="group">
    <h2>טריגונומטריה</h2>
    <h3>הפונקציות הטריגונומטריות</h3>
    <ul>
      <li>סינוס, קוסינוס, טנגנס, קוטנגנס</li>
      <li>המשמעות הגיאומטרית של פונקציות אלו</li>
    </ul>
    <h3>חוקי הסינוסים והקוסינוסים</h3>
    <ul>
      <li>חוק הסינוסים</li>
      <li>חוק הקוסינוסים</li>
    </ul>
    <h3>משוואות טריגונומטריות</h3>
    <ul>
      <li>פתרון משוואות בעזרת נוסחאות טריגונומטריות</li>
    </ul>
    <h3>חוקי זוויות</h3>
    <ul>
      <li>חיבור, חיסור, כפל וחלוקה של זוויות</li>
    </ul>
    <h3>הפונקציות ההפוכות של סינוס, קוסינוס וטנגנס</h3>
    <ul>
      <li>המרת זוויות בין יחידות (רדיאנים ומעלות)</li>
    </ul>
  </div>

  <div class="group">
    <h2>חדו"א (חשבון דיפרנציאלי ואינטגרלי)</h2>
    <h3>נגזרות פונקציות</h3>
    <ul>
      <li>חוקי הגזירה</li>
      <li>נגזרות של פונקציות חזקות, רציונליות, טריגונומטריות</li>
    </ul>
    <h3>מקסימום ומינימום</h3>
    <ul>
      <li>חיפוש מקסימום ומינימום בעזרת נגזרות</li>
      <li>יישומים של קיצון בעיות כלכלה, אופטימיזציה</li>
    </ul>
    <h3>אינטגרלים</h3>
    <ul>
      <li>חישוב שטח תחת עקומות בעזרת אינטגרלים</li>
      <li>המשמעות הפיזיקלית של אינטגרלים: תנועה, כוח, עבודה</li>
    </ul>
    <h3>הפונקציה ההפוכה של נגזרת</h3>
    <ul>
      <li>חישוב אינטגרלים בעזרת כללים</li>
    </ul>
  </div>

  <div class="group">
    <h2>הסתברות וסטטיסטיקה</h2>
    <h3>מרחב מדגם והסתברות</h3>
    <ul>
      <li>הגדרת מרחב מדגם</li>
      <li>חישוב הסתברות בסיסית</li>
    </ul>
    <h3>הסתברות מותנה</h3>
    <ul>
      <li>חישוב הסתברות מותנה</li>
      <li>פתרון בעיות הסתברות מותנה</li>
    </ul>
    <h3>חוקי חיבור והפסקות</h3>
    <ul>
      <li>חוק חיבור הסתברויות</li>
      <li>חוק הפסקת הסתברויות</li>
    </ul>
    <h3>חוק בייס</h3>
    <ul>
      <li>יישום הסתברויות לפי חוק בייס</li>
    </ul>
  </div>
  <hr class="dashed-line">
  <div class="group">
    <h2>מספרים מרוכבים</h2>
    <h3>הגדרה ופעולות עם מספרים מרוכבים</h3>
    <ul>
      <li>הוספה, חיסור, כפל, חילוק של מספרים מרוכבים</li>
    </ul>
    <h3>הצגת מספרים מרוכבים במישור הגאוסי</h3>
    <ul>
      <li>הצגת מספרים מרוכבים במישור הדמיוני</li>
    </ul>
    <h3>חישוב שורשים של מספרים מרוכבים</h3>
    <ul>
      <li>החישוב של שורשים של מספרים מרוכבים בעזרת נוסחאות</li>
    </ul>
    <h3>חוק דה-מואבר</h3>
    <ul>
      <li>שימוש בחוק דה-מואבר למציאת חזקות ושורשים של מספרים מרוכבים</li>
    </ul>
  </div>
</div>
