<div class="content">
  <div class="group first">
    <div class="group first">
      <h2>העת העתיקה</h2>
      <h3>יוון העתיקה</h3>
      <ul>
        <li></li>
      </ul>
      <h3>יוון הקלאסית</h3>
      <ul>
        <li></li>
      </ul>
      <h3>מלחמות פרס-יוון</h3>
      <ul>
        <li></li>
      </ul>
      <h3>הרפובליקה הרומית</h3>
      <ul>
        <li></li>
      </ul>
      <h3>האימפריה הרומית</h3>
      <ul>
        <li></li>
      </ul>
      <h3>נדידת העמים ונפילת האימפריה הרומית</h3>
      <ul>
        <li></li>
      </ul>
      <h3>ישו, פטרוס, פאולוס וראשית הנצרות</h3>
      <ul>
        <li></li>
      </ul>
    </div>
    <div class="group">
      <h2>תחילת ימי הביניים</h2>
      <h3>השיטה הפאודלית באירופה</h3>
      <ul>
        <li></li>
      </ul>
      <h3>האימפריה הפרנקית וקרל הגדול</h3>
      <ul>
        <li></li>
      </ul>
      <h3>הויקינגים</h3>
      <ul>
        <li></li>
      </ul>
      <h3>ממלכות האי הבריטי ו-וילאם הכובש</h3>
      <ul>
        <li></li>
      </ul>
      <h3>אגדות המלך ארתור</h3>
      <ul>
        <li></li>
      </ul>
    </div>
    <div class="group">
      <h2>שיא ימי הביניים</h2>
      <h3>התפתחות מודל העיר</h3>
      <ul>
        <li></li>
      </ul>
      <h3>תפקיד הכנסייה</h3>
      <ul>
        <li></li>
      </ul>
      <h3>תור הזהב בספרד</h3>
      <ul>
        <li></li>
      </ul>
      <h3>מלחמות השושנים באנגליה</h3>
      <ul>
        <li></li>
      </ul>
      <h3>ביזנטיון</h3>
      <ul>
        <li></li>
      </ul>
      <h3>מסעות הצלב</h3>
      <ul>
        <li></li>
      </ul>
      <h3>אגדות רובין הוד</h3>
      <ul>
        <li></li>
      </ul>
    </div>
    <div class="group">
      <h2>שלהי ימי הביניים</h2>
      <h3>ראשית הרפורמציה ופיצול הכנסייה</h3>
      <ul>
        <li></li>
      </ul>
      <h3>הנרי השמיני</h3>
      <ul>
        <li></li>
      </ul>
      <h3>המונגולים</h3>
      <ul>
        <li></li>
      </ul>
      <h3>המוות השחור</h3>
      <ul>
        <li></li>
      </ul>
    </div>
    <div class="group">
      <h2>הרנסנס וראשית העידן המודרני</h2>
      <h3>שנת 1492 (גילוי אמריקה וגירוש יהודי ספרד)</h3>
      <ul>
        <li></li>
      </ul>
      <h3>התפתחות תנועת ההשכלה</h3>
      <ul>
        <li></li>
      </ul>
      <h3>המהפכה האמריקאית</h3>
      <ul>
        <li></li>
      </ul>
      <h3>המהפכה הצרפתית</h3>
      <ul>
        <li></li>
      </ul>
    </div>
    <div class="group">
      <h2>המאה ה-19</h2>
      <h3>אביב העמים</h3>
      <ul>
        <li></li>
      </ul>
      <h3>מלחמות נפוליאון</h3>
      <ul>
        <li></li>
      </ul>
    </div>
    <div class="group">
      <h2>המאה ה-20</h2>
      <h3>מלחמת העולם הראשונה</h3>
      <ul>
        <li></li>
      </ul>
      <h3>השנים האחרונות של העשור השני (1918-1919)</h3>
      <ul>
        <li></li>
      </ul>
      <h3>שנות העשרים</h3>
      <ul>
        <li></li>
      </ul>
      <h3>המחצית הראשונה של שנות ה-30 (מנפילת הבורסה ב-1929 עד עליית היטלר לשלטון בגרמניה ב-1933)</h3>
      <ul>
        <li></li>
      </ul>
      <h3>מודל השיטה הפשיסטית</h3>
      <ul>
        <li></li>
      </ul>
      <h3>מלחמת השיטה הקומוניסטית</h3>
      <ul>
        <li></li>
      </ul>
      <h3>החיים בגרמניה בשנות ה-30</h3>
      <ul>
        <li></li>
      </ul>
      <h3>מלחמת העולם השנייה (1939-1940)</h3>
      <ul>
        <li></li>
      </ul>
      <h3>מלחמת העולם השנייה (1941-1942)</h3>
      <ul>
        <li></li>
      </ul>
      <h3>מלחמת העולם השנייה (1943)</h3>
      <ul>
        <li></li>
      </ul>
      <h3>מלחמת העולם השנייה (1944)</h3>
      <ul>
        <li></li>
      </ul>
      <h3>מלחמת העולם השנייה (1945)</h3>
      <ul>
        <li></li>
      </ul>
      <h3>המלחמה הקרה</h3>
      <ul>
        <li></li>
      </ul>
      <h3>נפילת ברית המועצות</h3>
      <ul>
        <li></li>
      </ul>
    </div>
    <div class="group">
      <h2>הציונות</h2>
      <h3>ארץ ישראל בשלהי 1880</h3>
      <ul>
        <li></li>
      </ul><h3>הרצל, דרייפוס והקונגרסים</h3>
      <ul>
        <li></li>
      </ul><h3>העלייה הראשונה</h3>
      <ul>
        <li></li>
      </ul><h3>העלייה השנייה</h3>
      <ul>
        <li></li>
      </ul><h3>הישוב העברי בזמן מלחמת העולם הראשונה</h3>
      <ul>
        <li></li>
      </ul><h3>שנות ה-20</h3>
      <ul>
        <li></li>
      </ul><h3>שנות ה-30</h3>
      <ul>
        <li></li>
      </ul>
      <h3>הישוב העברי בזמן מלחמת העולם השנייה</h3>
      <ul>
        <li></li>
      </ul>
      <h3>תפקיד המחתרות העבריות</h3>
      <ul>
        <li></li>
      </ul>
      <h3>מלחמת העצמאות (מ-כ"ט בנובמבר 1947 עד הסכמי שביתת הנשק ב-1949)</h3>
      <ul>
        <li></li>
      </ul>
      <h3>ישראל בשנות ה-50</h3>
      <ul>
        <li></li>
      </ul>
      <h3>מלחמת סיני (1956)</h3>
      <ul>
        <li></li>
      </ul>
      <h3>מלחמת ששת הימים (1967)</h3>
      <ul>
        <li></li>
      </ul>
      <h3>מלחמת יום כיפור (1973)</h3>
      <ul>
        <li></li>
      </ul>
      <h3>ישראל בשנות ה-80</h3>
      <ul>
        <li></li>
      </ul>
      <h3>ישראל בשנות ה-90</h3>
      <ul>
        <li></li>
      </ul>
      <h3>ישראל בשנות ה-2000</h3>
      <ul>
        <li></li>
      </ul>
      <h3>מלחמת 7 באוקטובר 2023</h3>
      <ul>
        <li></li>
      </ul>
    </div>
  </div>
</div>
