<div class="mx-5 mt-5">
  <div class="flex flex-wrap">
    <h1 class="mx-2" [ngStyle]="{'color':!isCS?'red':'green'}">
      <button (click)="cs()">מדעי המחשב</button>
    </h1>
    <h1 class="mx-2" [ngStyle]="{'color':!isCSA?'red':'green'}">
      <button (click)="csa()">(תואר ראשון)</button>
    </h1>
    <h1 class="mx-2" [ngStyle]="{'color':!isMA?'red':'green'}">
      <button (click)="ma()">מתמטיקה</button>
    </h1>
    <h1 class="mx-2" [ngStyle]="{'color':!isFY?'red':'green'}">
      <button (click)="fy()">פיזיקה</button>
    </h1>
    <h1 class="mx-2" [ngStyle]="{'color':!isEN?'red':'green'}">
      <button (click)="en()">אנגלית</button>
    </h1>
    <h1 class="mx-2" [ngStyle]="{'color':!isHI?'red':'green'}">
      <button (click)="hi()">היסטוריה</button>
    </h1>
  </div>
  <div [ngClass]="{'hidden':!isCS}"><!--collapse invisible-->
    <app-computer-sience-subject-page/>
  </div>
  <div [ngClass]="{'hidden':!isMA}"><!--collapse invisible-->
    <app-math-subject-page/>
  </div>
  <div [ngClass]="{'hidden':!isCSA}">
    <app-computer-sience-academic-subject-page/>
  </div>
  <div [ngClass]="{'hidden':!isFY}">
    <app-pysics-subject-page/>
  </div>
  <div [ngClass]="{'hidden':!isEN}">
    <app-english-subject-page/>
  </div>
  <div [ngClass]="{'hidden':!isHI}">
    <app-history-subject-page/>
  </div>
</div>
