<div class="home-container">
  <section class="header">
    <div class="header-overlay">
      <h1>ברוכים הבאים!</h1>
      <p>המורה שלך להצלחה במדעי המחשב, במתמטיקה, בפיזיקה, ובאנגלית</p>
    </div>
  </section>

  <app-home-container
    [title]="'קצת על עצמי'"
    [paras]="[
  '<strong>טמיר</strong>, או כמו שחלק אוהבים לקרוא לי – <strong>\u0022טמיר ב-ט\'\u0022</strong>, בוגר <strong>תואר ראשון (B.Sc) במדעי המחשב ממכללת תל חי</strong>.\n'+
'כבר לקראת הבגרויות גיליתי אהבה עמוקה לעולמות התכנות והמתמטיקה, מה שהתבטא בציונים גבוהים: <strong>97 במתמטיקה</strong> (5 יחידות מורחב) ו-<strong>96 בפיזיקה</strong> (5 יחידות מורחב), שניהם במסגרת <strong>האוניברסיטה העברית בירושלים</strong>. \n'+
'עבורי, מתמטיקה ותכנות הם לא רק מקצועות וציונים – הם בסופו של דבר <strong>משחק</strong> אינסופי של פתרון בעיות, עם <strong>חוקים ברורים</strong> ואינסוף דרכים <strong>לשחק איתם</strong> כדי להצליח.',
'עם <strong>למעלה מעשור</strong> של ניסיון בהוראת מתמטיקה, אני מלווה תלמידים <strong>מחטיבת הביניים</strong>, דרך <strong>תיכון</strong> ועד <strong>לסטודנטים לתואר ראשון</strong>.\n'+
'<strong>בחמש השנים</strong> האחרונות אני משמש <strong>כעוזר הוראה במכללת תל חי</strong>, שם אני מדריך סטודנטים במדעי המחשב בדרך לפצח אתגרים ולמצוא פתרונות יצירתיים.\n'+
'אני מאמין שהגישה למשחק ולחקירה היא <strong>המפתח ללמידה אמיתית</strong>, ומקפיד להנגיש נושאים מורכבים בדרך <strong>ברורה ומהנה</strong>.',
'או כמו שאמר פעם <strong>איגור</strong>, המורה האגדי שלנו לפיזיקה, <strong>\u0022נו, מפה זה כבר רק אלגברה...\u0022</strong>; '+
'אני באמת מאמין, ואני גם מנחיל את זה לתלמידים שלי, שבסופו של דבר, <strong>הכל שאלה של איך משחקים נכון.</strong> ' +
 'ברגע שלומדים את החוקים, זה כבר בסך הכל משחק...'
 ]"
  />

  <app-home-container
    [title]="'הגישה שלי'"
    [paras]="[
    'אני מאמין כי כל תלמיד יכול להצליח, כל עוד מספקים לו את הכלים וההכוונה הנכונה. השיעורים שלי <strong>מותאמים אישית</strong> לכל תלמיד, ומבוססים על קצב הלמידה <strong>האישי שלו</strong> והבנת הצרכים <strong>הייחודיים לו</strong>. '+
   'הגישה שלי מבוססת על מודל שנקרא <strong>חוק העצלנות</strong> – להשיג את התוצאה הטובה ביותר בעבודה <strong>חכמה ויעילה</strong>, ולהימנע מלעשות דברים שאין בהם צורך.'
    ,
    'אני רואה את עצמי כמורה שמאמין <strong>בתהליך הלמידה המשותף</strong>, שבו התלמיד לא רק מקבל ידע, אלא גם לומד <strong>כיצד לחשוב ולפתור בעיות באופן עצמאי</strong>. השאיפה שלי היא לסייע לכל תלמיד <strong>להגיע להישגים</strong> ולממש את הפוטנציאל שלו.'
    ]"
  />
  <app-home-container
    [title]="'מה אני מציע?'"
    [paras]="[]"
  />

  <section class="about">
    <!--    skills-->
    <h2>מה אני מציע?</h2>
    <div class="skill-box">
      <h3>שיעורים פרטיים במתמטיקה</h3>
      <p>מכיתה ז' ועד הכנה לבגרות ב-5 יחידות.</p>
    </div>
    <div class="skill-box">
      <h3>שיעורי תכנות</h3>
      <p>Java, Python, C++ ועוד!</p>
    </div>
    <div class="skill-box">
      <h3>עזרה בפרויקטים</h3>
      <p>ליווי מקצועי בפרויקטים לימודיים.</p>
    </div>
  </section>

  <section class="testimonials">
    <h2>המלצות מתלמידים</h2>
    <div class="testimonial">
      <p>"ניסיתי לקחת מורים אחרים, עולם אחר. לא אותו דבר."</p>
      <span>- המילואימניק שלי</span>
    </div>
    <div class="testimonial">
      <p>"היידה מברוק יא מלך!!"</p>
      <span>- אחד הסטודנטים בתל חי</span>
    </div>
  </section>
</div>
