<div class="home-container">
  <section class="header">
    <div class="header-overlay">
      <h1>ברוכים הבאים!</h1>
      <p>המורה שלך להצלחה במתמטיקה, פיזיקה, מדעי המחשב ואנגלית</p>
    </div>
  </section>

  <app-home-container
  [title]="'קצת על עצמי'"
  [paras]="[
'אני מורה פרטי עם מעל 10 שנות ניסיון בהוראה, ומתמחה <strong>במתמטיקה</strong>,'+
'<strong> פיזיקה</strong>,'+
'<strong> מדעי המחשב</strong>'+
'<strong> ואנגלית</strong>. '+
'אני מלמד תלמידים <strong>בחטיבה</strong><strong> ובתיכון</strong>, ובמשך למעלה מ-5 שנים שימשתי כ<strong>עוזר הוראה</strong> לסטודנטים לתואר ראשון במדעי המחשב <strong>במכללה האקדמית תל חי</strong>. '+
'במהלך השנים, פיתחתי גישה מותאמת אישית לכל תלמיד, תוך שמירה על דגש על הבנת החומר לעומק ולא על זכירה אוטומטית.'
  ]"
  />

  <app-home-container
    [title]="'הגישה שלי'"
    [paras]="[
    'אני מאמין כי כל תלמיד יכול להצליח, כל עוד מספקים לו את הכלים וההכוונה הנכונה. השיעורים שלי <strong>מותאמים אישית</strong> לכל תלמיד, ומבוססים על קצב הלמידה <strong>האישי שלו</strong> והבנת הצרכים <strong>הייחודיים לו</strong>. '+
   'הגישה שלי מבוססת על מודל שנקרא <strong>חוק העצלנות</strong> – להשיג את התוצאה הטובה ביותר בעבודה <strong>חכמה ויעילה</strong>, ולהימנע מלעשות דברים שאין בהם צורך.'
    ,
    'אני רואה את עצמי כמורה שמאמין <strong>בתהליך הלמידה המשותף</strong>, שבו התלמיד לא רק מקבל ידע, אלא גם לומד <strong>כיצד לחשוב ולפתור בעיות באופן עצמאי</strong>. השאיפה שלי היא לסייע לכל תלמיד <strong>להגיע להישגים</strong> ולממש את הפוטנציאל שלו.'
    ]"
  />
  <app-home-container
    [title]="'מה אני מציע?'"
    [paras]="[]"
  />

  <section class="about">
    <!--    skills-->
    <h2>מה אני מציע?</h2>
    <div class="skill-box">
      <h3>שיעורים פרטיים במתמטיקה</h3>
      <p>מכיתה ז' ועד הכנה לבגרות ב-5 יחידות.</p>
    </div>
    <div class="skill-box">
      <h3>שיעורי תכנות</h3>
      <p>Java, Python, C++ ועוד!</p>
    </div>
    <div class="skill-box">
      <h3>עזרה בפרויקטים</h3>
      <p>ליווי מקצועי בפרויקטים לימודיים.</p>
    </div>
  </section>

  <section class="testimonials">
    <h2>המלצות מתלמידים</h2>
    <div class="testimonial">
      <p>"ניסיתי לקחת מורים אחרים, עולם אחר. לא אותו דבר."</p>
      <span>- המילואימניק שלי</span>
    </div>
    <div class="testimonial">
      <p>"היידה מברוק יא מלך!!"</p>
      <span>- אחד הסטודנטים בתל חי</span>
    </div>
  </section>
</div>
