<h2>שפות תכנות</h2>
<div dir="ltr" class="flex flex-wrap place-content-center">
  <app-subject-item [subject]="{name:'C',icon:'devicon-c-plain colored',color:'#2980b9',ltr:true}"/>
  <app-subject-item [subject]="{name:'C++',icon:'devicon-cplusplus-plain colored',color:'#2980b9',ltr:true}"/>
  <app-subject-item [subject]="{name:'C#',icon:'devicon-csharp-plain colored',color:'#2980b9',ltr:true}"/>
  <app-subject-item [subject]="{name:'Python',icon:'devicon-python-plain colored',color:'#00ffff',ltr:true}"/>
  <app-subject-item [subject]="{name:'Java',icon:'devicon-java-plain colored',color:'#16a085', ltr:true}"/>
  <app-subject-item [subject]="{name:'Kotlin',icon:'devicon-kotlin-plain colored',color:'#16a085', ltr:true}"/>
</div>
<h2>שפות תלויות מערכת הפעלה</h2>
<div dir="ltr" class="flex flex-wrap place-content-center">
  <app-subject-item [subject]="{name:'Android',icon:'devicon-android-plain colored',color:'#16a085', ltr:true}"/>
  <app-subject-item [subject]="{name:'Bash',icon:'devicon-bash-plain colored',color:'#2980b9',ltr:true}"/>
  <app-subject-item [subject]="{name:'Linux',icon:'devicon-linux-plain colored',color:'#2980b9',ltr:true}"/>
</div>
<h2>תכנות אינטרנט</h2>
<div dir="ltr" class="flex flex-wrap place-content-center">
  <app-subject-item [subject]="{name:'HTML',icon:'devicon-html5-plain colored',color:'#00ffff',ltr:true}"/>
  <app-subject-item [subject]="{name:'CSS',icon:'devicon-css3-plain colored',color:'#00ffff',ltr:true}"/>
  <app-subject-item
    [subject]="{name:'Java Script',icon:'devicon-javascript-plain colored',color:'#00ffff',ltr:true}"/>
  <app-subject-item
    [subject]="{name:'Type Script',icon:'devicon-typescript-plain colored',color:'#00ffff',ltr:true}"/>
  <app-subject-item
    [subject]="{name:'Php',icon:'devicon-php-plain colored',color:'#00ffff',ltr:true}"/>
  <app-subject-item
    [subject]="{name:'Bootstrap',icon:'devicon-bootstrap-plain colored',color:'#00ffff',ltr:true}"/>
  <app-subject-item
    [subject]="{name:'Tailwind CSS',icon:'devicon-tailwindcss-plain colored',color:'#00ffff',ltr:true}"/>
  <app-subject-item [subject]="{name:'Angular',icon:'devicon-angular-plain colored',color:'#00ffff',ltr:true}"/>
  <app-subject-item [subject]="{name:'React',icon:'devicon-react-plain colored',color:'#00ffff',ltr:true}"/>
  <app-subject-item [subject]="{name:'Vue',icon:'devicon-vuejs-plain colored',color:'#00ffff',ltr:true}"/>
</div>
<h2>מאגרי מידע</h2>
<div dir="ltr" class="flex flex-wrap place-content-center">
  <app-subject-item [subject]="{name:'SQLite',icon:'devicon-sqlite-plain colored',color:'#00ffff',ltr:true}"/>
  <app-subject-item [subject]="{name:'MySQL',icon:'devicon-mysql-plain colored',color:'#00ffff',ltr:true}"/>
  <app-subject-item [subject]="{name:'MongoDB',icon:'devicon-mongodb-plain colored',color:'#00ffff',ltr:true}"/>
  <app-subject-item [subject]="{name:'JSON',icon:'devicon-json-plain colored',color:'#00ffff',ltr:true}"/>
</div>

<h2>משחקים</h2>
<div dir="ltr" class="flex flex-wrap place-content-center">
  <app-subject-item [subject]="{name:'LibGDX',icon:'devicon-libgdx-plain colored',color:'#00ffff',ltr:true}"/>
  <app-subject-item [subject]="{name:'Pygame',icon:'devicon-pygame-plain colored',color:'#00ffff',ltr:true}"/>
</div>
